:root{
    --gray:#c1c1c1;
    --blue:#3276ff;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 300px;
    margin: 40px 0;
}
.progress-container::after{
    content: '';
    position: absolute;
    width: 100%;
    background-color: var(--gray);
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -10;

}
.progress{
    position: absolute;
    width: 0%;
    background-color: var(--blue);
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: width 0.4s linear;
}
.circle{
    border: 4px solid var(--gray);
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s linear 0.4s;
}
.circle.active{
    border-color: var(--blue);
}

.btn{
    border: 1px solid black;
    color: white;
    padding: 5px 9px;
    background-color: var(--gray);
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px black;
    margin: 0px 10px;
    color: black;
    font-weight: bold;
}
.btn:active{
    transform: translate(3px ,3px);
    box-shadow: 0 0 white;
}

.btn:disabled{
    background-color: #e5e4e4;
    cursor:not-allowed;
    color: gray;
}

